@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Noto';
  src: url('../assets/fonts/Noto/NotoSerif-Light.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/Inter_18pt-Light.ttf') format('truetype');
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-color: #F9C52B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", sans-serif;
  user-select: none;
}

.loader {
  aspect-ratio: 2/3;
  --c:no-repeat linear-gradient(#F9C52B 0 0);
  background: var(--c), var(--c), var(--c), var(--c);
  background-size: 50% 33.4%;
}